<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleWeatherSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1601F661E41FAF7004EBDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1601F7A1E41FAF7004EBDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1601F851E41FAF8004EBDC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
